body {
  background-color: #f5fccd;
  color: #12486b !important;
}

h1 {
  margin: 0.5em 0;
}
.flex-main {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
ul {
  width: 75%;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 1em;
  background-color: #419197;
  color: white;
  list-style-type: none;
  opacity: 1;
  transition: opacity 0.5s ease; /* Adjust the duration and timing function as needed */
}

.fade-out {
  opacity: 0 !important;
}

.remove-btn {
  margin-bottom: 0;
  color: white;
  background-color: #ff8080;
}
.remove-btn:hover {
  background-color: #d83f31;
}
.row {
  display: flex;
  gap: 0.5em;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}

#newTask {
  flex-grow: 1;
}

input {
  margin-bottom: 0;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  margin-bottom: 0;
}

.button-primary > span {
  margin-left: 0.5em;
}
#searchBar {
  border-radius: 40px;
  padding: 1em 1.9em;
}

#searchForm {
  position: relative;
}

#searchIcon {
  position: absolute;
  left: 2%;
  top: 18%;
}

#clearAll {
  background-color: #419197;
  color: white;
}
#clearAll > span {
  color: #ff4b91;
}

#newTaskForm {
  display: flex;
  margin-top: auto;
  margin: auto 0;
}

#newTaskError {
  color: #d83f31;
  font-weight: 700;
  opacity: 1;
  transition: opacity 3s ease-in-out;
}
